.scheduler {
  //noinspection CssInvalidPropertyValue
  width: stretch;

  thead {
    @apply bg-white;
    @apply shadow-sm;

    z-index: 3;
  }

  tbody {
    @apply text-xs;

    th {
      @apply p-2;
    }

    td:not(:is(:first-child, :last-child)) {
      @apply border-x border-gray-200;
    }

    tr {
      height: calc(1rem + 1px);
    }

    tr:nth-child(4n+1) {
      @apply border-t border-gray-200;
    }

    tr td {
      @apply relative;
    }
  }
}

.scrollable {
  @apply overflow-y-auto;

  thead {
    position: sticky;
    top: 0;
  }
}
